<h1>注文確定画面</h1>
<div class="order-confirm-page">
  <%= form_with  model: @order, class: 'confirm-order', local: true do |f| %>
    <div class="ordere-img">
      
    </div>

    <div class="order-affirmation">

    </div>

    <div class="order-message">

    </div>

    <div class="order-confirm">
    <%= f.submit  "注文を確定する" ,class:"confirm-order-click" %>
    </div>
  <% end %>
</div>