<div class = "template-select-main">
  <div class="title-content">
  テンプレートを選択してください
  </div>
  <%= form_with  model: @order, url: "#", class: 'all-template', local: true do |f| %>
    <div class="template">
      <% @templates.each do |template| %>
        <%=  image_tag template.template_image, class: "template-image" %>
      <% end %>
    </div>
  <% end %>

</div>