<div class="category-select-main">
  <div class="title-content">
  カテゴリーを選択してください
  </div>
  <%= form_with  model: @order, url: category_select_orders_path, class: 'template-exhibit', local: true do |f| %>
   <ul class='template-lists'>
        <% @templates.each do |template| %>
          <li class='list'>
            <div class="template-img-content">
              <%=  image_tag template.template_image, class: "template-image" %>
            </div>
              <%= f.submit  "注文へ" ,class:"continue-order-click" %>
          </li>
        <% end %>
      </ul>
  <% end %>
</div>