<div class="category-select-main">
  <div class="title-content">
  テンプレートを選択してください。
  </div>
  <ul class='template-lists'>
    <% @templates.each do |template| %>
      <li class='list'>
        <%= link_to order_confirm_path(template.id) do %>
        <div class="template-img-content">
          <%=  image_tag template.template_image, class: "template-image" %>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
</div>